<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="./main.css">
</head>
<body>

    <div id="app-one">
         <h1>App one</h1>
         <greeting></greeting>
    </div>

    <div id="app-two">
      <h1>App two</h1>
      <greeting></greeting>
    </div>

    <script src="./app.js"></script>
</body>
</html>